@font-face {
  font-family: "Montserrat";
  src: url("subset-Montserrat-BoldItalic.woff2") format("woff2"), url("subset-Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("subset-Montserrat-Bold.woff2") format("woff2"), url("subset-Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("subset-Montserrat-Italic.woff2") format("woff2"), url("subset-Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("subset-Montserrat-Regular.woff2") format("woff2"), url("subset-Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  max-width: 1350px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.active {
  font-size: 12px;
  line-height: 15px;
  padding: 5px 7px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #F0145A;
  color: #FFFFFF;
  border-radius: 8px;
}

.activs {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active-menu {
  color: #F0145A;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  padding-bottom: 3px;
}
.active-menu::after {
  content: "";
  display: block;
  background-color: #F0145A;
  width: 100%;
  height: 2px;
}

.fon {
  background: url(../img/fon-h.svg), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat, repeat;
  background-position: center top, center center;
  background-size: 524px, 600px, cover;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 30px;
}

.adress,
.fb {
  display: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  position: relative;
}

.header-top {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  background-color: rgba(245, 245, 250, 0.2);
  margin: 0 -15px;
}
.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header-top__link {
  font-size: 12px;
  line-height: 15px;
  padding: 5px 7px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.header-top__link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.tel {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.logo {
  padding-top: 15px;
}

.menu {
  padding-top: 15px;
}

.burger-menu {
  cursor: pointer;
  background-image: url(../img/hamburger.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.burger-menu.active-btn {
  background-image: url(../img/close-white.svg);
}

.menu-list {
  padding: 12px;
  position: absolute;
  width: 375px;
  right: -15px;
  top: auto;
  background-color: rgb(255, 255, 255);
  list-style: none;
  display: none;
}
.menu-list__items:not(:last-child) {
  margin-bottom: 15px;
}
.menu-list__link {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #24A3FF;
  background: #F5F5FA;
  border-radius: 12px;
  display: block;
  padding: 7px 12px;
}

.hero {
  padding-top: 129px;
  padding-bottom: 60px;
  text-align: center;
}
.hero__title {
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
  padding-bottom: 159px;
  padding-left: 30px;
}
.hero__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.experience {
  min-width: 315px;
}
.experience__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 30px;
}
.experience__list__list::-webkit-scrollbar {
  display: none;
}
.experience__btn {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #B3B3BA;
  cursor: pointer;
  border: none;
  background-color: transparent;
  white-space: nowrap;
}
.experience__space:not(:last-child) {
  margin-right: 30px;
}
.experience__box {
  padding-bottom: 30px;
  position: relative;
}
.experience__box::before {
  content: "";
  display: block;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.experience__title {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 30px 0;
}
.experience__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.services {
  width: 315px;
}
.services__link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #24A3FF;
}
.services__link::after {
  content: "";
  background-image: url(../img/arrow.svg);
  width: 12px;
  height: 13px;
  display: inline-block;
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__title {
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 30px;
  padding-top: 10px;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}
.services-item__ico {
  padding: 14px;
  background-color: #FFFFFF;
  border-radius: 24px;
}
.services-item__link {
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  padding-bottom: 15px;
  padding-top: 30px;
}
.services-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.services-item__icon {
  display: block;
  background-color: white;
}

.fon::after {
  content: "";
  background-color: #CACADB;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 20px;
  right: 20px;
  border-radius: 0 0 12px 12px;
}

.fon::before {
  content: "";
  background-color: #E7E7F2;
  height: 10px;
  position: absolute;
  bottom: -20px;
  left: 40px;
  right: 40px;
  border-radius: 0 0 12px 12px;
}

@media (min-width: 480px) {
  .experience,
  .services {
    width: auto;
  }
}
@media (min-width: 768px) {
  .adress,
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fon {
    background-size: 893px 1024px, cover;
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
    padding-top: 50px;
  }
  .header-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    margin: 0;
    padding: 0;
  }
  .header-top__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .adress::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 6px;
  }
  .adress::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 6px;
  }
  .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tel::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 6px;
  }
  .fb {
    display: block;
  }
  .fb__icon path {
    fill: white;
  }
  .fb:hover path {
    fill: #F0145A;
  }
  .logo {
    padding-top: 30px;
  }
  .logo__img {
    width: 130px;
    height: 60px;
  }
  .burger-menu {
    display: none;
  }
  .menu {
    padding-top: 30px;
  }
  .menu-list {
    position: static;
    background: transparent;
    width: auto;
    padding: 0;
  }
  .menu-list__items:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .menu-list__link {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: transparent;
  }
  .menu-list__link:hover::after {
    content: "";
    display: block;
    background-color: #FFFFFF;
    width: 100%;
    height: 2px;
  }
  .hero {
    padding-top: 269px;
  }
  .hero__title {
    padding-left: 0;
    padding-bottom: 417px;
  }
  .experience__list {
    margin-bottom: 60px;
  }
  .experience__btn {
    font-size: 38px;
    line-height: 46px;
  }
  .experience__title {
    padding-top: 60px;
  }
  .services__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding-bottom: 60px;
  }
  .services-item {
    padding-bottom: 0;
  }
  .services__title {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 992px) {
  .fon {
    background-size: 670px 768px, cover;
  }
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .header-top {
    grid-column: 2/3;
    grid-row: 1/2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo {
    grid-row: 1/-1;
    align-self: center;
    padding-top: 0;
  }
  .menu-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hero {
    padding-top: 245px;
  }
  .hero__title {
    padding-bottom: 289px;
  }
  .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px;
  }
  .experience__content {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
  }
  .experience__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    text-align: right;
    margin-bottom: 0;
    overflow: visible;
    padding-left: 60px;
  }
  .experience__space:not(:last-child) {
    margin-right: 0;
  }
  .experience__box {
    padding-bottom: 0;
    padding-left: 60px;
  }
  .experience__box::before {
    width: 4px;
    height: 100%;
    position: absolute;
  }
  .experience__title {
    padding-top: 0;
    padding-left: 60px;
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 37px;
  }
  .experience__text {
    padding-left: 60px;
  }
  .services__box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 261px;
  }
  .experience {
    padding-left: 180px;
  }
  .experience__list {
    padding-left: 0;
  }
  .experience__title {
    padding-top: 43px;
  }
}
.team-section {
  padding-top: 30px;
  padding-bottom: 60px;
}

.teams__box {
  background: #F5F5FA;
  border-radius: 12px;
}
.teams__item {
  padding: 30px;
}
.teams__text {
  font-size: 30px;
  line-height: 37px;
  padding-top: 5px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.services__link::after {
  content: "";
  background-image: url(../img/arrow.svg);
  width: 12px;
  height: 13px;
  display: inline-block;
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.employee {
  padding: 0 30px 30px 30px;
}
.employee__name {
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  padding-bottom: 6px;
}
.employee__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.img-reponsiv {
  width: 100%;
  height: auto;
  display: block;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.box__circle {
  border-radius: 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #24A3FF;
  opacity: 0.2;
}
.box__circle--blue {
  background: #24A3FF;
  opacity: 1;
}
.box__circle:not(:last-child) {
  margin-right: 15px;
}
.box__circle:hover {
  background: #24A3FF;
  opacity: 1;
}

@media (min-width: 768px) {
  .teams__text {
    line-height: 46px;
  }
}
@media (min-width: 992px) {
  .teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
  .employee {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .teams {
    grid-template-columns: 400px 1fr;
  }
}
.clients-title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  padding-bottom: 30px;
}

.clients-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.clients-list__img {
  padding: 36px 80px;
  width: 100%;
  height: 100%;
  display: block;
}
.clients-list__img--01 {
  background-color: #1C4280;
}
.clients-list__img--02 {
  background-color: #143646;
  padding: 44px 88px;
}
.clients-list__img--03 {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
  padding: 38px 98px;
}
.clients-list__img--04 {
  background-color: #9E4DC3;
  padding: 39px 98px;
}
.clients-list__img--05 {
  background-color: #FD9339;
  padding: 38px 100px;
}
.clients-list__img--06 {
  background-color: #E2E2E4;
  padding: 36px 91px;
}
.clients-list__img--07 {
  background-color: #C71C36;
  padding: 29px 59px;
  display: none;
}
.clients-list__img--08 {
  background-color: #DCF3F9;
  padding: 22px 55px;
  display: none;
}
.clients-list__img--09 {
  background-color: #EAEAEA;
  padding: 30px 37px;
  display: none;
}
.clients-list__img--10 {
  background-color: #282240;
  padding: 41px 37px;
  display: none;
}
.clients-list__img--11 {
  background-color: #1D4568;
  padding: 37px 33px;
  display: none;
}
.clients-list__img--12 {
  background-color: #000000;
  padding: 13px 57px;
  display: none;
}

@media (min-width: 768px) {
  .clients-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
  }
  .clients-list__img {
    padding: 37px 19px;
    display: block;
  }
  .clients-list__img--01 {
    background-color: #1C4280;
  }
  .clients-list__img--02 {
    background-color: #143646;
    padding: 45px 28px;
  }
  .clients-list__img--03 {
    background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
    padding: 39px 38px;
  }
  .clients-list__img--04 {
    background-color: #9E4DC3;
    padding: 39px 38px;
  }
  .clients-list__img--05 {
    background-color: #FD9339;
    padding: 38px 41px;
  }
  .clients-list__img--06 {
    background-color: #E2E2E4;
    padding: 36px 34px;
  }
  .clients-list__img--07 {
    background-color: #C71C36;
    padding: 30px 59px;
  }
  .clients-list__img--08 {
    background-color: #DCF3F9;
    padding: 22px 55px;
  }
  .clients-list__img--09 {
    background-color: #EAEAEA;
    padding: 30px 37px;
  }
  .clients-list__img--10 {
    background-color: #282240;
    padding: 41px 37px;
  }
  .clients-list__img--11 {
    background-color: #1D4568;
    padding: 37px 33px;
  }
  .clients-list__img--12 {
    background-color: #000000;
    padding: 13px 52px;
  }
}
@media (min-width: 992px) {
  .clients-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.publication-fon {
  background: #F5F5FA;
  padding-bottom: 30px;
}

.publication-box {
  padding: 30px 0;
}

.publication-title {
  font-size: 30px;
  line-height: 37px;
  padding-top: 5px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about-publication {
  background: #FFFFFF;
  border-radius: 8px;
}
.about-publication__box {
  padding: 30px;
}
.about-publication__link {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.about-publication__text {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding-top: 15px;
}
.about-publication__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding-top: 15px;
}
.about-publication__content::before {
  content: "";
  display: block;
  height: 4px;
  background: #E6E6F0;
  margin-bottom: 15px;
}

.about-publication::before {
  content: "";
  display: block;
  height: 200px;
  background-image: url(../img/foto/presentation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-publication:not(:last-child) {
  margin-bottom: 30px;
}

.about-publication--pic::before {
  background-image: url(../img/foto/gdpr.jpg);
}

.about-publication--img::before {
  background-image: url(../img/foto/demonstration.jpg);
}

@media (min-width: 768px) {
  .publication-title {
    line-height: 46px;
  }
  .publication-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .about-publication--img::before {
    background-image: url(../img/foto/demonstration_tablet.jpg);
  }
  .about-publication--grid {
    grid-column: 1/3;
  }
}
@media (min-width: 992px) {
  .publication-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-publication--grid {
    grid-column: auto;
  }
  .about-publication--img::before {
    background-image: url(../img/foto/demonstration.jpg);
  }
}
.footer {
  background: #F5F5FA;
  border-radius: 0px;
}

.footer-box {
  padding: 0 30px 30px 30px;
  text-align: center;
}
.footer-box__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  padding-bottom: 10px;
}
.footer-box__link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 21px;
  padding-bottom: 30px;
}
.footer-box__tel {
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
  padding: 10px 0;
}
.footer-box__email {
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.footer-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

.footer-box::before {
  content: "";
  display: block;
  height: 2px;
  background: #E6E6F0;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer-box {
    display: grid;
  }
  .footer-box__inner {
    display: grid;
  }
  .footer-box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-row: 1;
  }
  .footer-box__adress {
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-box__adress::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 10px;
  }
  .footer-box__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-box__text {
    text-align: end;
    grid-row: 1;
  }
  .footer-box__email:hover {
    color: #F0145A;
  }
  .footer-box__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-box__tel::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 10px;
  }
  .footer-box__tel::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 10px;
  }
  .fb:hover path {
    color: #F0145A;
  }
}
.header-top--color {
  background: #F5F5FA;
}

.header-top__link--color {
  color: #B3B3BA;
}

.tel--color {
  color: #B3B3BA;
}

.burger-menu--color {
  background-image: url(../img/hamburger-black.svg);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__slash {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__slash::before {
  content: "";
  background-image: url(../img/slash.svg);
  width: 12px;
  height: 26px;
  background-size: cover;
  margin: 0 4px;
  display: inline-block;
}

.fb__icon--color path {
  fill: #B3B3BA;
}

@media (min-width: 768px) {
  .header-top--color {
    background-color: transparent;
  }
  .adress--color {
    color: #B3B3BA;
  }
  .logo__slash {
    font-size: 36px;
    line-height: 44px;
  }
  .logo__slash::before {
    width: 21px;
    height: 47px;
  }
  .menu-list__link {
    color: #24A3FF;
  }
  .menu-list__link:hover::after {
    background-color: #24A3FF;
  }
}
.about-services {
  padding: 30px 0;
}

.services__title--fix {
  padding-top: 0;
  padding-bottom: 28px;
}

.experience__text--fix {
  color: #000000;
}

.experience__text--fix:not(:last-child) {
  padding-bottom: 30px;
}

.about-experience {
  padding-left: 30px;
  position: relative;
}
.about-experience::before {
  content: "";
  display: inline-block;
  border-left: 4px solid #e6e6f0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.about-experience__digit {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 10px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-experience__digit::before {
  content: "";
  display: block;
  background-image: url(../img/experience.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  padding-right: 8px;
}
.about-experience__digit--pic::before {
  background-image: url(../img/clients.svg);
  width: 32px;
  height: 32px;
}
.about-experience__digit--img::before {
  background-image: url(../img/probono.svg);
  width: 32px;
  height: 32px;
}
.about-experience__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.about-experience:not(:last-child) {
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .about-services {
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .experience__text--fix {
    padding-left: 0;
  }
  .about-services__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .about-services__box {
    grid-template-columns: 2fr 1fr;
  }
}
.team {
  padding-top: 30px;
}

.services__title--top {
  padding-top: 0;
}

.achievment {
  background-color: #F5F5FA;
  text-align: center;
}
.achievment__item {
  padding: 30px;
}
.achievment__title {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 30px;
}
.achievment__img {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 25px 100px;
}
.achievment__img--02 {
  display: none;
}
.achievment__img--03 {
  display: none;
}
.achievment__img--04 {
  display: none;
}

@media (min-width: 768px) {
  .achievment__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  .achievment__img {
    display: block;
    padding: 25px 40px;
    width: 100%;
  }
  .achievment__img--02 {
    padding: 25px 13px;
  }
  .achievment__img--03 {
    padding: 25px 1px;
  }
  .achievment__img--04 {
    padding: 25px 11px;
  }
  .box__circle--none {
    display: none;
  }
}
@media (min-width: 992px) {
  .achievment__img {
    padding: 25px 58px;
  }
  .achievment__img--02 {
    padding: 25px 18px;
  }
  .achievment__img--03 {
    padding: 25px 1px;
  }
  .achievment__img--04 {
    padding: 25px 15px;
  }
}
/*# sourceMappingURL=style.css.map */
